.shake-horizontal {
  animation: leftRight 0.15s infinite;
  position: relative;
}
.shake-vertical {
  animation: topBottom 0.15s infinite;
  position: relative;
}

@keyframes leftRight {
  0% {
    left: 1rem;
  }
  50% {
    left: 0;
    right: 1rem;
  }
  100% {
    left: 1rem;
    right: 0;
  }
}
@keyframes topBottom {
  0% {
    top: 1rem;
  }
  50% {
    top: 0;
    bottom: 1rem;
  }
  100% {
    top: 1rem;
    bottom: 0;
  }
}
