footer {
  background: $dark;
  padding: 2rem 0;
  .footer-item {
    margin: 1rem 0;
    .logo {
      img {
        width: 13rem;
      }
    }
    h5 {
      font-weight: 700;
      margin-bottom: 1rem;
    }
    ul {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;
      li {
        a {
          display: inline-block;
          margin-bottom: 0.5rem;
          text-decoration: none;
          color: $fontColor;
          text-transform: capitalize;
          &:hover {
            color: $yellow;
          }
          i {
            font-size: 1.5rem;
            margin-right: 1rem;
          }
        }
      }
    }
  }
}
