.listings {
  .list-item {
    margin: 1rem 0;
    position: relative;
    a {
      color: $white;
      text-decoration: none;
      display: block;
      &:hover {
        color: $white;
      }
      &:first-child {
        & > div {
          transition: 0.2s ease-in-out;
        }
      }
    }
    .payment-enabled {
      position: absolute;
      right: -0.5rem;
      top: 1rem;
      display: flex;
      flex-direction: column;
      z-index: 11;
      span {
        margin-bottom: 0.5rem;
        height: 2rem;
        width: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        &:first-child {
          background: $blue;
        }
        &:nth-child(2) {
          background: $green;
        }
        &:last-child {
          background: $yellow;
        }
      }
    }
    .label {
      display: block;
      padding: 0.3rem 0.8rem;
      font-size: 90%;
      font-weight: 700;
      border-radius: 0.25rem 0.25rem 0 0;
    }
    .game-image {
      position: relative;
      overflow: hidden;
      border-radius: 0 0 0.25rem 0.25rem;
      margin-bottom: 0.5rem;
      height: 13rem;
      background: linear-gradient(
        to bottom,
        transparent 0%,
        transparentize($color: $dark, $amount: 0.3) 80%
      );
      & > img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      .game-title {
        font-size: 90%;
        font-weight: 700;
        position: absolute;
        opacity: 1;
        bottom: 0.5rem;
        left: 0.5rem;
        transition: 0.2s ease-in-out;
      }
    }
    .price {
      font-weight: 700;
      background: $greenBlue;
      padding: 0.3rem 0.5rem;
      border-radius: 0.5rem;
      display: inline-block;
      margin-bottom: 0.5rem;
      position: relative;
      transition: 0.2s ease-in-out;
      left: 0;
      bottom: 0;
    }
    .published-by {
      display: block;
      img {
        width: 1.5rem;
        height: 1.5rem;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 0.5rem;
      }
      strong {
        color: $fontColor;
      }
    }
    &:hover {
      a:first-child {
        & > div {
          transform: scale(1.1);
          .game-title {
            bottom: -1rem;
            opacity: 0;
          }
        }
        .price {
          transform: scale(1.1);
          left: -0.3rem;
          bottom: 1rem;
        }
      }
    }
  }
}
