.listings {
  .list-item {
    margin: 1rem 0;
    position: relative;
    a {
      color: $white;
      text-decoration: none;
      display: block;
      &:hover {
        color: $white;
      }
      &:first-child {
        & > div {
          transition: 0.2s ease-in-out;
        }
      }
    }
    .payment-enabled {
      position: absolute;
      right: -0.5rem;
      top: 1rem;
      display: flex;
      flex-direction: column;
      z-index: 11;
      span {
        margin-bottom: 0.5rem;
        height: 2rem;
        width: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        &:first-child {
          background: $blue;
        }
        &:nth-child(2) {
          img {
            height: 2rem;
            width: 2rem;
          }
        }
        &:nth-child(3) {
          height: 2rem;
          width: 2rem;
          background: $green;
          font-weight: 700;
          font-style: italic;
          font-size: 1.2rem;
        }
        &:last-child {
          background: $yellow;
        }
      }
    }
    .label {
      display: block;
      padding: 0.3rem 0.8rem;
      font-size: 90%;
      font-weight: 700;
      border-radius: 0.25rem 0.25rem 0 0;
    }
    .game-image {
      position: relative;
      overflow: hidden;
      border-radius: 0 0 0.25rem 0.25rem;
      margin-bottom: 0.5rem;
      padding-top: 110%;
      background: linear-gradient(
        to bottom,
        transparent 0%,
        transparentize($color: $dark, $amount: 0.3) 80%
      );
      & > img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: absolute;
        left: 0;
        top: 0;
      }
      .game-title {
        font-size: 90%;
        font-weight: 700;
        position: absolute;
        width: 100%;
        opacity: 1;
        bottom: 0;
        left: 0;
        padding: 0.5rem;
        transition: 0.2s ease-in-out;
        background: linear-gradient(
          to bottom,
          transparent 0%,
          transparentize($color: $dark, $amount: 0.3) 80%
        );
      }
    }
    .price {
      font-weight: 700;
      background: $greenBlue;
      padding: 0.3rem 0.5rem;
      border-radius: 0.5rem;
      display: inline-block;
      margin-bottom: 0.5rem;
      position: relative;
      transition: 0.2s ease-in-out;
      left: 0;
      bottom: 0;
    }
    .published-by {
      display: block;
      img {
        width: 1.5rem;
        height: 1.5rem;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 0.5rem;
      }
      strong {
        color: $fontColor;
      }
    }
    &:hover {
      a:first-child {
        & > div {
          transform: scale(1.1);
          .game-title {
            bottom: -1rem;
            opacity: 0;
          }
        }
        .price {
          transform: scale(1.1);
          left: -0.3rem;
          bottom: 1rem;
        }
      }
    }
  }
}
.listing-title {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid transparentize($color: $white, $amount: 0.8);
  div:not(.total) {
    a {
      text-transform: capitalize;
      font-weight: 700;
      color: $white;
      text-decoration: none;
    }
  }
  div {
    font-weight: 700;
  }
}
.list-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
  .filter-btn {
    background: lighten($color: $mutedBlack, $amount: 10);
    color: $white;
    border-radius: 0.25rem;
    padding: 0.3rem 0.6rem;
    cursor: pointer;
    i {
      margin-right: 0.5rem;
    }
  }
  & > div {
    display: flex;
    .sort-btn {
      background: lighten($color: $mutedBlack, $amount: 10);
      color: $white;
      padding: 0.3rem 0.6rem;
      border-radius: 0.25rem;
      margin-right: 0.5rem;
      cursor: pointer;
    }
    select {
      background: lighten($color: $mutedBlack, $amount: 10)
        url('../images/arrow-down.png') no-repeat center right !important;
      color: $white;
      border: none;
      outline: none;
      &:focus,
      &:active {
        border: none;
        box-shadow: none;
      }
    }
  }
}
.labels {
  .label {
    i {
      margin-right: 0.3rem;
    }
    color: $fontColor;
    transition: 0.3s ease-in-out;
    background: lighten($color: $mutedBlack, $amount: 10);
    border-radius: 0.25rem;
    font-size: 0.75rem;
    padding: 0.3rem 0.6rem;
    font-weight: 700;
    text-decoration: none;
    margin-bottom: 0.3rem;
    display: inline-block;
    &:hover {
      color: $white;
      background: lighten($color: $mutedBlack, $amount: 15);
    }
  }
}
