* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  @media screen and(max-width: 991.98px) {
    font-size: 15px;
  }
  @media screen and(max-width:767.98px) {
    font-size: 14.5px;
  }
}
body {
  background: $darkBody;
  color: $fontColor;
  font-size: 1rem;
  font-family: $roboto;
}
b,
strong {
  font-weight: 700;
}
.page-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  h4 {
    font-weight: 700;
    margin-bottom: 0;
    a {
      text-transform: capitalize;
      color: $white;
      background: lighten($color: $dark, $amount: 10);
      border-radius: 2rem;
      text-decoration: none;
      padding: 0.8rem 1rem;
      i {
        margin-right: 0.5rem;
      }
    }
  }
  .arrow {
    a {
      width: 3.5rem;
      height: 3.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background: lighten($color: $dark, $amount: 10);
      border-radius: 50%;
      color: $white;
      font-size: 2rem;
      text-decoration: none;
      &:hover {
        color: $white;
      }
    }
  }
}
.more {
  a {
    margin: 1rem auto;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lighten($color: $dark, $amount: 10);
    border-radius: 50%;
    color: $white;
    font-size: 2rem;
    text-decoration: none;
    &:hover {
      color: $white;
    }
  }
}
.bg-image {
  background-image: linear-gradient(
      0deg,
      rgba(27, 27, 27, 1) 0%,
      rgba(27, 27, 27, 0.8) 30%,
      rgba(27, 27, 27, 0.5) 100%
    ),
    url(../images/game-icons-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 260px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.bg-dark {
  background-color: $dark !important;
}
