* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  @media screen and(max-width: 991.98px) {
    font-size: 15px;
  }
  @media screen and(max-width:767.98px) {
    font-size: 14.5px;
  }
}
body {
  background: $darkBody;
  color: $fontColor;
  font-size: 1rem;
  font-family: $roboto;
  overflow-x: hidden;
}
b,
strong {
  font-weight: 700;
}
.page-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  h4 {
    font-weight: 700;
    margin-bottom: 0;
    a {
      text-transform: capitalize;
      color: $white;
      background: lighten($color: $dark, $amount: 10);
      border-radius: 2rem;
      text-decoration: none;
      padding: 0.8rem 1rem;
      i {
        margin-right: 0.5rem;
      }
    }
  }
  .arrow {
    a {
      width: 3.5rem;
      height: 3.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background: lighten($color: $dark, $amount: 10);
      border-radius: 50%;
      color: $white;
      font-size: 2rem;
      text-decoration: none;
      &:hover {
        color: $white;
      }
    }
  }
}
.more {
  a {
    margin: 1rem auto;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lighten($color: $dark, $amount: 10);
    border-radius: 50%;
    color: $white;
    font-size: 2rem;
    text-decoration: none;
    &:hover {
      color: $white;
    }
  }
}
.bg-image {
  background-image: linear-gradient(
      0deg,
      rgba(27, 27, 27, 1) 0%,
      rgba(27, 27, 27, 0.8) 30%,
      rgba(27, 27, 27, 0.5) 100%
    ),
    url(../images/game-icons-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 260px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.bg-dark {
  background-color: $dark !important;
}
.modal-content {
  background: $dark;
  border: none;
}
.modal-header {
  border: none;
  background: lighten($color: $mutedBlack, $amount: 3)
    url(../images/game_pattern_white.png);
  background-size: cover;
  color: $white;
}
.modal-separator {
  padding: 0.625rem 1.25rem;
  background-color: lighten($color: $darkBody, $amount: 6);
  // background: $darkBody;
  color: #fff;
  font-size: 1rem;
}
.modal-footer {
  border: none;
  background: $mutedBlack;
}
.btn-close {
  width: 0.5rem;
  height: 0.5rem;
  opacity: 1;
  fill: $white;
  background: transparent
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath fill='white' d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
    center/1em auto no-repeat;
}
.btn {
  border: none;
  box-shadow: none;
  &:focus,
  &:active {
    border: none;
    box-shadow: none;
  }
}
.btn-green {
  background: $green;
  color: $white;
  &:hover {
    color: $white;
  }
}
.btn-animation {
  overflow: hidden;
  position: relative;
  .icon {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease-in-out;
    top: -100%;
    font-size: 1.4rem;
  }
  .text {
    position: relative;
    transition: 0.3s ease-in-out;
    bottom: 0;
  }
  &:hover {
    .icon {
      top: 50%;
    }
    .text {
      bottom: -2rem;
    }
  }
}
.btn-warning {
  background-color: $warning;
  color: $white;
  &:hover {
    background-color: lighten($color: $warning, $amount: 5);
    color: $white;
  }
}
.modal-create {
  background: lighten($color: $yellow, $amount: 10) !important;
}
.modal-login,
.modal-create {
  max-width: 600px;
  position: relative;
  .modal-bg {
    background-image: url(../images/game_pattern_white.png);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
  }
  .modal-header {
    background: lighten($color: $green, $amount: 10);
    position: relative;
    z-index: 11;
    .btn {
      border-radius: 2rem;
    }
  }
  form {
    background: $mutedBlack;
    border-radius: 0.25rem;
  }
}
.modal-body {
  .input-group-text {
    background: lighten($color: $mutedBlack, $amount: 25);
    border: none;
    i {
      opacity: 0.8;
    }
  }
  input {
    border: none;
    background: lighten($color: $mutedBlack, $amount: 15);
    color: $white;
    &:checked {
      transition: 0.3s;
      background: darken($color: $white, $amount: 10)
        url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e") !important;
    }
    &:focus,
    &:active {
      border: none;
      box-shadow: none;
      color: $white;
      background: lighten($color: $mutedBlack, $amount: 15);
    }
  }
}
.modal-backdrop {
  z-index: 998;
}
.wishlist {
  .modal-header {
    background-color: $red;
  }
}
.buy {
  .modal-header {
    background-color: $greenBlue;
  }
}
.btn-danger {
  background-color: $red;
}
.social-btn {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  color: $white;
  margin: 0.5rem 0;
  .icon {
    padding: 0.3rem 0.8rem;
    border-radius: 0.25rem 0 0 0.25rem;
  }
  span:not(.icon) {
    border-radius: 0 0.25rem 0.25rem 0;
    padding: 0.3rem;
    padding-left: 1rem;
    width: 100%;
  }
  &.facebook {
    .icon {
      background: darken($color: $facebook, $amount: 5);
    }
    span:not(.icon) {
      background: $facebook;
    }
  }
  &.twitter {
    .icon {
      background: darken($color: $twitter, $amount: 5);
    }
    span:not(.icon) {
      background: $twitter;
    }
  }
  &.steam {
    .icon {
      background: darken($color: $steam, $amount: 5);
    }
    span:not(.icon) {
      background: $steam;
    }
  }
}
.btn-secondary {
  background: lighten($color: $mutedBlack, $amount: 15);
}
a {
  color: $yellow;
  text-decoration: none;
  &:hover {
    color: lighten($color: $yellow, $amount: 10);
  }
}
.dropdown-menu-dark {
  background: $dark;
}

.nav-tabs {
  border-bottom: none;
  .nav-item.show .nav-link,
  .nav-link {
    color: $fontColor;
    border: none;
    font-weight: 700;
    background: transparentize($color: $black, $amount: 0.5);
    margin-right: 0.5rem;
    margin-bottom: 0;
    &:hover {
      background: $darkBody;
      color: $white;
    }
    &.active {
      background: $darkBody;
      color: $white;
      border: none;
    }
  }
}

.badge.bg-secondary {
  font-size: 0.875rem;
  background-color: lighten($color: $dark, $amount: 15) !important;
}
.text-success {
  color: $green !important;
}
.w-md-100 {
  @media screen and(max-width:767.98px) {
    width: 100% !important;
    padding-left: 0 !important;
  }
}
.btn-info {
  background-color: $greenBlue;
  color: $white;
  &:hover {
    color: $white;
  }
}
.pnt {
  cursor: pointer;
}
