$dark: #222121;
$darkBody: #1b1b1b;
$fontColor: #8e8e8e;
$yellow: #e98f2e;
$green: #519a31;
$white: #ffffff;
$greenBlue: #128298;
$blue: #009cde;
$black: #000000;
$mutedBlack: #302f2f;

//font
$roboto: 'Roboto', sans-serif;
